body {
    font-family: 'Zalando Sans SemiExpanded', sans-serif;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
}

main {
    width: 550px;
    margin: auto;
    background-color: lightgrey;
}

header {
    padding: 30px 20px;
}

#config {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    padding: 0;
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

#color-select {
    border-radius: 4px;
    width: 51px;
    height: 100%;
    flex: none;
}

#scheme-select {
    /* padding: 10px 12px; */
    padding: 0px 12px;
    width: 100%;
    height: 100%;
}

#get-scheme-btn {
    padding: 0px 16px;
    height: 100%;
    flex: none;
    border: none;
    border-radius: 4px;
}

#color-select,
#scheme-select,
#get-scheme-btn {
    cursor: pointer;
}

#scheme-wrapper {
    display: flex;
}

.color-wrapper {
    width: 100%;
}

.color {
    min-height: 450px;
}


.color-code {
    margin: 12px 0px;
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
}